<ul>
  {{#each model as |mentor|}}
    <li>
      <p>{{mentor.first}} {{mentor.last}}</p>
      <p>{{mentor.title}}, {{mentor.company}}</p>
      <p>Strengths: {{mentor.strengths}}</p>
    </li>
  {{/each}}
</ul>
